body {
    background-color: lightgray;
    text-align: center;
}


h1  {
    color: black;
    margin-bottom: .3em;
    text-align: center;
    text-decoration: underline;
    
  }
  
  table {
    margin: .3em;
    width: 290px;
  }
  
  
  p {
    
    padding-left: .5em;
    padding-right: .5em;
  }
  
  
  
  center {
    text-align: center;
  }

footer   {
    color:black;
    display: flex;
    justify-content: center;
  
}

#heroimage {
  height: 200px; 
  width: 1350px;
  
}

#sidekickimage{
height: 500px;
width:650px;

}

.cursivetext {
 font-family: cursive;
}